<!--PAGE CONTENT -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Create New User
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-11">
								<form role="form">
									<div class="form-group">
										<label>Display Name</label>
										<input class="form-control" ng-model="newUser.display_name">
									</div>
									<div class="form-group">
										<label>First Name</label>
										<input class="form-control" ng-model="newUser.first_name">
									</div>
									<div class="form-group">
										<label>Last Name</label>
										<input class="form-control" ng-model="newUser.last_name">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input class="form-control" ng-model="newUser.email">
									</div>
									<div class="form-group">
										<label>Password</label>
										<input class="form-control" ng-model="newUser.password">
									</div>
									
									<button type="submit" class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="submit(newUser)">
										Submit 
									</button>
									<button type="reset" class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="cancel()">
										Cancel
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--END PAGE CONTENT -->
