<!--PAGE CONTENT -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Create New Group
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-11">
								<form role="form">
									<div class="form-group">
										<label>Name</label>
										<input class="form-control" ng-model="newGroup.name">
									</div>
									<div class="form-group">
										<label>Type</label>
										<input class="form-control" ng-model="newGroup.type">
									</div>
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control" rows="3" ng-model="newGroup.description"></textarea>
									</div>
									
									<button type="submit" class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="submit(newGroup)">
										<i class="icon-check-sign icon-white"></i>Submit
									</button>
									<button type="reset" class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="cancel()">
										<i class="icon-remove icon-white" ></i>Cancel
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--END PAGE CONTENT -->