<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Delete {{type}}</h4>
</div>
<div class="modal-body">
    
    Are you sure, you want to delete {{name}} ?
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel();">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()" >Yes</button>
</div>
