<!--PAGE CONTENT -->
		<div class="row" >
			<div class="col-lg-12" style="min-height: 400px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						 {{processStep.name}}
					</div>
					
					<div class="panel-body">
						<div ng-repeat="line in processStep.description" >
						{{line}}
						</div>
					</div>
				</div>
			</div>
		</div>
<!--END PAGE CONTENT -->