<!--PAGE CONTENT -->
		<div class="row">
			<!-- <li class="panel" ng-repeat="group in groups" >
			<a ng-click="LoadGroupDetail(group.group.id)" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav">{{group.group.data.name}}</a>

		</li> -->
		
		
			<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Create New Group
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-11">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="group in groups" ng-dblclick="selectGroup(group)">
										<td>{{group.group.data.name}}</td>
										<td>{{group.group.data.type}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
<!--END PAGE CONTENT -->
