<div class="form-group">
	<label for="text1" class="control-label col-lg-4">Documentation : </label>
	<div class="text-left">
		<button ng-click="toggleCustomDocument()" class="btn btn-primary btn-xs">
			<i ng-class="{'icon-minus-sign': customDocument, 'icon-plus-sign': !customDocument}"></i>
		</button>
	</div>
</div>
<!--
<div class="col-lg-12 check-element" ng-show="customDocument">
	<div class="panel-body">
		<button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
		accept="image/*,application/pdf" ngf-max-height="1000" ngf-max-size="1MB">
			<i class="icon-cloud-upload icon-white"></i> Select File
		</button>
		<label>(* .pdf, .doc,.txt){{processInfo}}</label>
	</div>
</div>
-->
<div class="col-lg-12" ng-show="customDocument">
	<div class="box dark">
		<header>
			<div class="icons">
				<i class="icon-edit"></i>
			</div>
			<h5>Add New Document</h5>			
		</header>
		<div id="div-1" class="accordion-body collapse in body">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="text1" class="control-label col-lg-4">Upload a file</label>

					<div class="col-lg-8">
						<button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
						accept="image/*,application/pdf" ngf-max-height="1000" ngf-max-size="1MB">
							<i class="icon-cloud-upload icon-white"></i> Choose a file
						</button>
                        <label>(* .pdf, .doc,.txt){{processInfo}}</label>
	                  </div>
					</div>
				</div>	
			</div>

		</div>
	</div>
</div>
<div class="col-lg-12" ng-show="customDocument">
	<div class="box dark">
		<header>
			<div class="icons">
				<i class="icon-file"></i>
			</div>
			<h5>Available Documents</h5>
		</header>
		<div id="div-1" class="accordion-body collapse in body">
				<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th> </th>
						<th>File Name</th>
						<th>Download</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in files"  >
						<td><i class="icon-file-text"></i> </td>
						<td>{{file.dataFile.data.name}}</td>
						<td><a target="_blank" href="/assets/documents/{{file.dataFile.data.file_custom_name}}">Download</a></td>
						<td><i class="icon-remove" ng-click="open(file.dataFile.id)"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

		</div>
	</div>
</div>
