<div class="form-group">
	<label for="text1" class="control-label col-lg-4"> Data Source : </label>
	<div class="text-left">
	 <button ng-click="toggleCustomLink()" class="btn btn-primary btn-xs">
	 	<i ng-class="{'icon-minus-sign': customLink, 'icon-plus-sign': !customLink}"></i>
	 </button>
	 </div>	
</div>
<!--
<div class="col-lg-12 check-element"  ng-show="customLink" >
		<div class="col-lg-12">
			<div class="form-group">
				<label>URL</label>
				<input class="form-control" ng-model="url">
			</div>
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" ng-model="name">
			</div>
			<div class="form-group">
				<label>Description</label>{{process}}
				<textarea class="form-control" rows="3" ng-model="description"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" ng-click="addLink()" class="btn btn-default">Save</button> <button type="submit" ng-click="toggleCustomLink()" class="btn btn-default">Cancel</button>
			</div>
		</div>
</div>
-->
<div class="col-lg-12" ng-show="customLink">
	<div class="box dark">
		<header>
			<div class="icons">
				<i class="icon-edit"></i>
			</div>
			<h5>Add New Link</h5>			
		</header>
		<div id="div-1" class="accordion-body collapse in body">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="text1" class="control-label col-lg-4">URL</label>

					<div class="col-lg-8">
						<input type="text" id="component_name"  ng-model="url" class="form-control" />
					</div>
				</div>	

				<div class="form-group">
					<label for="text1" class="control-label col-lg-4">Name</label>

					<div class="col-lg-8">
						<input type="text" id="name" ng-model="name"  class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="text4" class="control-label col-lg-4">Details</label>

					<div class="col-lg-8">
						<textarea id="supplier_details" class="form-control" ng-model="description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="text4" class="control-label col-lg-4"></label>

					<div class="col-lg-8">
						<a ng-click="addLink()" class="btn btn-primary btn-grad ">Save</a>
						<a ng-click="toggleCustomLink()" class="btn btn-primary btn-grad ">Cancel</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="col-lg-12" ng-show="customLink">
	<div class="box dark">
		<header>
			<div class="icons">
				<i class="icon-link"></i>
			</div>
			<h5>Available Links</h5>
		</header>
		<div id="div-1" class="accordion-body collapse in body">
			<div class="panel-body">
				<div class="table-responsive" style="width: 100%">
					<table class="table table-striped table-bordered table-hover style="width: 100%"">
						<thead>
							<tr>
								<th> </th>
								<th>Name</th>
								<th>URL</th>
								<th>Description</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="link in links">
								<td><i class="icon-external-link-sign"></i> </td>
								<td>{{link.link.data.url}}</td>
								<td>{{link.link.data.name}}</td>
								<td>{{link.link.data.description}}</td>
								<td><i class="icon-remove" ng-click="open(link.link.id)"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
<!--
<div class="col-lg-12" ng-show="customLink">
	<div class="panel-body">
		<div class="table-responsive" style="width: 100%">
			<table class="table table-striped table-bordered table-hover style="width: 100%"">
				<thead>
					<tr>
						<th>Name</th>
						<th>URL</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="link in links" ng-click="showAllItems(sc.SubComponent)" >
						<td>{{link.link.data.url}}</td>
						<td>{{link.link.data.name}}</td>
						<td>{{link.link.data.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
-->
