<div>
	<label>Select Task : </label>
	<label class="checkbox-inline">
		<input type="checkbox" ng-click="LoadProcessGroupsWithProcess()" />
		All </label>

	<label class="checkbox-inline">
		<input type="checkbox" ng-click="sort()" checked />
		My Tasks </label>
		<!--
	<button class="btn btn-primary btn-grad " ng-click="sort()">
															test
														</button>-->
</div>
<div class="dropdown">
  <!--
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select Swimlane
    <span class="caret"></span>
  </button> -->
  <label> Select Swimlane : </label>
 
												<select>
													<option>Aircraft Development</option>
												<option>Mx Concept Development</option>
												<option>ISHM System Development</option>
												<option>Mx Credit Certification</option>
												</select>

</div>
<div style="height:15px; width:100%; clear:both;"></div>