<div class="row" style="padding-bottom: 10px;">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span class="glyphicon glyphicon-time"></span>
         <strong  am-time-ago="taskDetailed.createTime"> </strong>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" aa-past="taskDetailed.dueDate">
        <span class="glyphicon glyphicon-calendar"></span> <strong
            am-time-ago="taskDetailed.dueDate"></strong>
    </div>
    <div class="col-xs-2 col-sm-22 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <span class="glyphicon glyphicon-user"></span> <strong>{{taskDetailed.assignee}}</strong>
    </div>

</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <strong>{{taskDetailed.description}}</strong>
    </div>
</div>
<div class="row rowSplitter">
</div>