<!doctype html>
<html lang="en" ng-app="mctApp">
	<head>
		<meta charset="utf-8">
		<title>Mx Credit Process</title>
		<link rel="stylesheet" href="assets/css/app.css">
		<!-- GLOBAL STYLES -->
		<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/theme.css" />
		<link rel="stylesheet" href="assets/css/MoneAdmin.css" />
		<link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
		<!--END GLOBAL STYLES -->
		<!-- LOGIN STYLES -->
		<link rel="stylesheet" href="assets/css/login.css" />
		<link rel="stylesheet" href="assets/plugins/magic/magic.css" />
		<!-- END LOGIN STYLES -->

		<!-- PAGE LEVEL STYLES -->
		<link href="assets/css/layout2.css" rel="stylesheet" />
		<link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
		<link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />
		<link rel="stylesheet" href="assets/css/mct-style.css" />
		<!-- END PAGE LEVEL  STYLES -->

		<link rel="stylesheet" href="assets/angular-tree-control/tree-control-attribute.css">
		<link rel="stylesheet" href="assets/angular-tree-control/tree-control.css">
		<link rel="stylesheet" href="assets/css/graphStyle.css">
		<link rel="stylesheet" href="assets/css/animation.css">

	</head>

<body ng-controller="RootCtrl" class="padTop53">	
	
	   <!-- MAIN WRAPPER -->
  <div id="wrap">

			<div ng-show="loggedin">

				<!-- HEADER SECTION -->
				<div id="top">

					<nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
						<a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle"> <i class="icon-align-justify"></i> </a>
						<!-- LOGO SECTION -->
						<header class="navbar-header">

							<!--<a href="index.html" class="navbar-brand"> <img src="assets/img/AirbusGroupDS_Transp.png" width="220px" alt="" /> </a>-->
							

							<a href="index.html"  ng-click="changeView('dashboard')" class="navbar-brand"> <img src="assets/img/logoTest.PNG" width="220px" height="65px" alt="" /> </a>
							
						</header>
						<!-- END LOGO SECTION -->
						<!--
						<ul class="nav navbar-top-links navbar-left index-munu-top-padding-left">
							<a ng-click="changeView('dashboard')" class="btn index-menu-top-color  btn-lg btn-line btn-rect index-menu-top-color">Components View</a>
							<a ng-click="changeView('groups')" class="btn index-menu-top-color  btn-lg btn-line btn-rect ">Manage</a>

						</ul>
                       -->							
                        <ul class="nav navbar-top-links navbar-left index-munu-top-padding-left">
							<a ng-click="changeView('dashboard')" class="btn index-menu-top-color  btn-lg btn-line btn-rect index-menu-top-color ">Components View</a>
							<a ng-click="changeView('groups')" class="btn index-menu-top-color  btn-lg btn-line btn-rect" >Tailor</a>
						</ul>
						<ul class="nav navbar-top-links navbar-right">
							<!-- MESSAGES SECTION -->
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="label label-success">2</span> <i class="icon-envelope-alt"></i>&nbsp; <i class="icon-chevron-down"></i> </a>

								<ul class="dropdown-menu dropdown-messages">
									<li>
										<a href="#">
										<div>
											<strong>John Smith</strong>
											<span class="pull-right text-muted"> <em>Today</em> </span>
										</div>
										<div>
											Lorem ipsum dolor sit amet, consectetur adipiscing.
											<br />
											<span class="label label-primary">Important</span>

										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<strong>Raphel Jonson</strong>
											<span class="pull-right text-muted"> <em>Yesterday</em> </span>
										</div>
										<div>
											Lorem ipsum dolor sit amet, consectetur adipiscing.
											<br />
											<span class="label label-success"> Moderate </span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<strong>Chi Ley Suk</strong>
											<span class="pull-right text-muted"> <em>26 Jan 2015</em> </span>
										</div>
										<div>
											Lorem ipsum dolor sit amet, consectetur adipiscing.
											<br />
											<span class="label label-danger"> Low </span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a class="text-center" href="#"> <strong>Read All Messages</strong> <i class="icon-angle-right"></i> </a>
									</li>
								</ul>

							</li>
							<!--END MESSAGES SECTION -->

							<!--TASK SECTION -->
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="label label-danger">5</span> <i class="icon-tasks"></i>&nbsp; <i class="icon-chevron-down"></i> </a>

								<ul class="dropdown-menu dropdown-tasks">
									<li>
										<a href="#">
										<div>
											<p>
												<strong> Profile </strong>
												<span class="pull-right text-muted">40% Complete</span>
											</p>
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<p>
												<strong> Pending Tasks </strong>
												<span class="pull-right text-muted">20% Complete</span>
											</p>
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
													<span class="sr-only">20% Complete</span>
												</div>
											</div>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<p>
												<strong> Work Completed </strong>
												<span class="pull-right text-muted">60% Complete</span>
											</p>
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
													<span class="sr-only">60% Complete (warning)</span>
												</div>
											</div>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<p>
												<strong> Summary </strong>
												<span class="pull-right text-muted">80% Complete</span>
											</p>
											<div class="progress progress-striped active">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
													<span class="sr-only">80% Complete (danger)</span>
												</div>
											</div>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a class="text-center" href="#"> <strong>See All Tasks</strong> <i class="icon-angle-right"></i> </a>
									</li>
								</ul>

							</li>
							<!--END TASK SECTION -->

							<!--ALERTS SECTION -->
							<li class="chat-panel dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="label label-info">8</span> <i class="icon-comments"></i>&nbsp; <i class="icon-chevron-down"></i> </a>

								<ul class="dropdown-menu dropdown-alerts">

									<li>
										<a href="#">
										<div>
											<i class="icon-comment" ></i> New Comment <span class="pull-right text-muted small"> 4 minutes ago</span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<i class="icon-twitter info"></i> 3 New Follower <span class="pull-right text-muted small"> 9 minutes ago</span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<i class="icon-envelope"></i> Message Sent <span class="pull-right text-muted small" > 20 minutes ago</span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<i class="icon-tasks"></i> New Task <span class="pull-right text-muted small"> 1 Hour ago</span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
										<div>
											<i class="icon-upload"></i> Server Rebooted <span class="pull-right text-muted small"> 2 Hour ago</span>
										</div> </a>
									</li>
									<li class="divider"></li>
									<li>
										<a class="text-center" href="#"> <strong>See All Alerts</strong> <i class="icon-angle-right"></i> </a>
									</li>
								</ul>

							</li>
							<!-- END ALERTS SECTION -->

							<!--ADMIN SETTINGS SECTIONS -->

							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user "></i>&nbsp; {{userDisplayName}} <i class="icon-chevron-down "></i> </a>

								<ul class="dropdown-menu dropdown-user">
									<li>
										<a href="#"><i class="icon-user"></i> User Profile </a>
									</li>
									<li>
										<a href="#"><i class="icon-gear"></i> Settings </a>
									</li>
									<li class="divider"></li>
									<li>
										<!--<a href="login.html" ng-click="logout()"><i class="icon-signout"></i> Logout </a>-->
										<a href="#" ><i class="icon-signout"></i> Logout </a>
									</li>
								</ul>

							</li>
							<!--END ADMIN SETTINGS -->
						</ul>

					</nav>

				</div>
				<!-- END HEADER SECTION -->

			</div>
			<!-- Actual content below header -->
			<div class="row" ng-show="loggedin">
				<div class="col-lg-12 index-menu-top-padding">
					<div style="text-align: center;">
						<a class="quick-btn " href="" ng-class="processbuttonselected" ng-click="changeView('processSteps')"><img src="assets/img/psteps.png" width="33px" height="28px" alt="" /> <span>Process Steps View</span> </a>
						<a class="quick-btn" href="" ng-class="processViewselected" ng-click="changeView('processView')"> <i class="icon-signal icon-2x"></i> <span>Process View</span></a>
						<a class="quick-btn" href="/" onclick="return false;"> <i class="icon-print icon-2x"></i> <span>Reporting</span></a>
					</div>
				</div>
				
			</div>
			<!-- MENU SECTION -->
	<div id="left" ng-show="leftPanel">
		<div class="media user-media well-small" ng-if="loggedin" ng-init="LoadComponentSubComponents()"> <!-- Bug related to subcomponent load before login -->
			<br />
		</div>        
		<ul id="menu" class="collapse">

			<li class="panel active">
				<a href="" ng-click="changeView('dashboard')"> <i class="icon-table"></i> Explorer </a>
			</li>	
			<li class="panel">
				<a  href="/" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> List of Components <span class="pull-right"> </span> </a>
			</li>
			<li class="panel">
					<div treecontrol class="tree-classic"
	             	tree-model="dataForTheTree"
						options="treeOptions"
						on-selection="showSelected(node)"
						selected-node="node1">
							{{node.name}}  
					</div>
			</li>	
		</ul>

	</div>
	<!--END MENU SECTION -->
			
			
			<div ng-view></div>
  </div>
      <div id="footer">
        <p>&copy;  Airbus Group Innovations &nbsp;2016 &nbsp;</p>
    </div>
    <!--END FOOTER-->

<!--<script src="assets/libs/api-check/dist/api-check.js"></script>->



<!--<script src="assets/libs/angular-formly/dist/formly.js"></script>
<script src="assets/libs/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script> -->



<script src="assets/libs/angular.js"></script>
<script src="assets/libs/angular-resource.js"></script>
<script src="assets/libs/angular-route.js"></script>
<script src="assets/libs/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="assets/libs/moment.js"></script>
<script src="assets/libs/angular-moment.js"></script>
<script src="scripts/app.js"></script>
<script src="assets/libs/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
<script src="assets/libs/ng-file-upload/dist/ng-file-upload.min.js"></script>
<!--<script src="assets/libs/dagre-d3/lib/d3.v3.min.js"></script>
<script src="assets/libs/dagre-d3/dist/dagre-d3.js"></script>


<!-- Angular cookies -->
<script src="bower_components/angular-cookies/angular-cookies.js"></script>


<!-- angula schema form library -->
<script type="text/javascript" src="assets/libs/angular-sanitize.js"></script>
<script type="text/javascript" src="assets/libs/tv4.min.js"></script>
<script type="text/javascript" src="assets/libs/ObjectPath.js"></script>
<script type="text/javascript" src="assets/libs/schema-form.js"></script>
<script type="text/javascript" src="assets/libs/bootstrap-decorator.js"></script>
<script type="text/javascript" src="assets/libs/ng-flow-standalone.js"></script>
<script type="text/javascript" src="assets/libs/angular-strap.min.js"></script>
<script type="text/javascript" src="assets/libs/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="assets/libs/schema-form-file.js"></script>





<script src="scripts/controllers/loginCtrl.js"></script>
<script src="scripts/controllers/groupCtrl.js"></script>
<script src="scripts/controllers/dashboardCtrl.js"></script>
<script src="scripts/controllers/rootCtrl.js"></script>
<script src="scripts/controllers/usersCtrl.js"></script>
<script src="scripts/controllers/taskCtrl.js"></script>
<script src="scripts/controllers/componentCtrl.js"></script>
<script src="scripts/controllers/subComponentCtrl.js"></script>
<script src="scripts/controllers/itemCtrl.js"></script>
<script src="scripts/controllers/processStepsCtrl.js"></script>
<script src="scripts/controllers/processTreeCtrl.js"></script>
<script src="scripts/controllers/processViewCtrl.js"></script>
<script src="scripts/controllers/mbuiCtrl.js"></script>
<script src="scripts/controllers/ps1componentDetailsCtrl.js"></script>
<script src="scripts/controllers/ps2fmeaCtrl.js"></script>
<script src="scripts/controllers/ps3fmecaCtrl.js"></script>
<script src="scripts/controllers/ps4rcmmaintananceCapCtrl.js"></script>
<script src="scripts/controllers/processViewTabularCtrl.js"></script>

<script src="scripts/services/Base64.js"></script>
<script src="scripts/services/groupService.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/tasksModalService.js"></script>
<script src="scripts/services/componentService.js"></script>
<script src="scripts/services/subComponentService.js"></script>
<script src="scripts/services/itemService.js"></script>
<script src="scripts/services/dataShareService.js"></script>
<script src="scripts/services/processStepsService.js"></script>
<script src="scripts/services/processEngineService.js"></script>
<script src="scripts/services/fileService.js"></script>
<script src="scripts/services/linkService.js"></script>
<script src="scripts/services/mbuiService.js"></script>
<script src="scripts/services/pStepGroupsService.js"></script>
<script src="scripts/services/processViewService.js"></script>




<script src="scripts/directives/process-link-directive.js"></script>
<script src="scripts/directives/process-file-directive.js"></script>
<script src="scripts/directives/activitiTaskDefault.js"></script>
<script src="scripts/directives/taskSelection.js"></script>

<script type="text/javascript" src="assets/angular-tree-control/angular-tree-control.js"></script>
<script type="text/javascript" src="assets/libs/angular-xml.js"></script>

<!-- form builder test -->

<script src="scripts/directives/field-directive.js"></script> <script src="scripts/directives/form-directive.js"></script>
<script src="scripts/services/form-service.js"></script>
<script src="scripts/controllers/view.js"></script>

<!-- angular animate -->
<script src="assets/libs/angular-animate/angular-animate.js"></script>
		<!-- end of angular animate -->
		<!-- end of form builder test -->

<!-- Actual content below header  <link rel="stylesheet" href="assets/css/bootstrap.theme.css">
<link rel="stylesheet" href="assets/bootstrap3/css/bootstrap-theme.css">  
<link rel="stylesheet" href="assets/bootstrap3/css/bootstrap.css">-->

</body>
</html>