<div id="wrap" >

	<!--PAGE CONTENT -->
	<div id="content">
		<div class="inner">
			<!--END MENU SECTION 
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Advance Form Elements</h1>
				</div>
			</div>-->
				<div class="col-lg-12">
					   <div>
						         <button class="btn btn-default  btn-rect" ng-click="changeView('dashboard')">Component</button>
								 <button class="btn btn-primary  btn-rect" ng-click="changeView('subComponent')">Sub Component</button>
								 <button class="btn btn-default  btn-rect" ng-click="changeView('items')">Item</button>
						</div>	
				</div>
            <div class="demo-container">
			<div class="row">
				
					 <div class="col-lg-12">
							 <div>
							    <button class="btn btn-default btn-sm btn-rect" ng-click="changeView('subComponent')">All Sub Components</button>
							 	<button class="btn btn-primary btn-sm btn-rect" ng-click="changeView('addSubComponent')">Create new Sub Component</button>								
							 </div>	
			         </div>
						    
				
				<div class="col-lg-12">
					<div class="box dark">
						<header>
							<div class="icons">
								<i class="icon-edit"></i>
							</div>
							<h5>Add New Sub Component</h5>
							component Name {{componentName}}  Component ID  {{componentID}}
							<div class="toolbar">
								<ul class="nav">
									<li>
										<a href="#">Link</a>
									</li>
									<li class="dropdown">
										<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-th-large"></i> </a>
										<ul class="dropdown-menu">
											<li>
												<a href="#">Demo Link</a>
											</li>
											<li>
												<a href="#">Demo Link</a>
											</li>
											<li>
												<a href="#">Demo Link</a>
											</li>
										</ul>
									</li>
									<li>
										<a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1"> <i class="icon-chevron-up"></i> </a>
									</li>
								</ul>
							</div>
						</header>
						<div id="div-1" class="accordion-body collapse in body">
							<div class="form-horizontal">

								<div class="form-group">
									<label for="text1" class="control-label col-lg-4">Sub component name</label>

									<div class="col-lg-8">
										<input type="text" id="component_name"  ng-model="sub_component_name" class="form-control" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="text1" class="control-label col-lg-4">ATA Chapter</label>

									<div class="col-lg-8">
										<input type="text" id="ata_chapter" ng-model="ata_chapter" class="form-control" />
									</div>
								</div>	
								<div class="form-group">
									<label for="text1" class="control-label col-lg-4">SBC</label>

									<div class="col-lg-8">
										<input type="text" id="port_no" ng-model="sbc" class="form-control" />
									</div>
								</div>	
								
								<div class="form-group">
									<label for="text1" class="control-label col-lg-4">Part No</label>

									<div class="col-lg-8">
										<input type="text" id="port_no" ng-model="part_no" class="form-control" />
									</div>
								</div>	
								
								<div class="form-group">
									<label for="text1" class="control-label col-lg-4">Supplier Name</label>

									<div class="col-lg-8">
										<input type="text" id="supplier_name" ng-model="supplier_name"  class="form-control" />
									</div>
								</div>	

								<div class="form-group">
									<label for="text4" class="control-label col-lg-4">Supplier Details</label>

									<div class="col-lg-8">
										<textarea id="supplier_details" class="form-control" ng-model="supplier_details"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label for="text4" class="control-label col-lg-4"></label>

									<div class="col-lg-8">
										 <a ng-click="AddNewSubComponent()" class="btn btn-primary btn-grad "><i class="icon-plus icon-white" ></i>+ Add New Sub component</a>
										 <a ng-click="ShowSubComponent()" class="btn btn-primary btn-grad "><i class="icon-remove icon-white" ></i>Cancel</a>
									</div>
								</div>
							</div>
							 
						</div>
					
						</div>
				</div>

			</div>
			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

</div>