<!--PAGE CONTENT -->
	<div id="content" ng-init="LoadComponents()">

		<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
			<div class="row">	
						
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						  <div class="col-lg-12">
						    <div>
						    	 <button class="btn btn-primary  btn-rect" ng-click="changeView('dashboard')">Component</button>
								 <button ng-disabled="true" class="btn btn-default  btn-rect" ng-click="changeView('subComponent')">Sub Component</button>
								 <button ng-disabled="true" class="btn btn-default  btn-rect" ng-click="changeView('items')">Item</button>
							</div>	
						  </div>
						<div class="demo-container">
							<!-- 
							 <div class="col-lg-12">
							    <div>
							    	 <button class="btn btn-primary btn-sm btn-rect" ng-click="changeView('dashboard')">All Components</button>
							    	<button class="btn btn-default btn-sm btn-rect" ng-click="changeView('addComponent')">Create new Component</button> 								
								</div>	
						    </div>
						    -->	
							<div id="placeholderRT" class="demo-placeholder">
								<div class="col-md-12">	
									<div class="panel panel-default">
										<div class="panel-heading">
											<strong>List of Components</strong> 
										</div>
										<div class="form-group system-compoent-seletion-padding-top">
										

										<div class="col-lg-5">
											<div class="input-group">
												System Component Selection
												<select>
													<option>EHA</option>
												<option>SHM</option>
												<option>EMA</option>
												</select>
											</div>
										</div>
									</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table  table-bordered table-hover">
													<thead>
														<tr>
															<th>Component Number</th>
															<th>Component Name</th>
															<th>ATA Chapter</th>
															<th>A/C System</th>
															<th>A/C Sub System</th>
															<th>SBC</th>
															<th>Part No.</th>
															<th>Supplier Name</th>
															<th>Supplier Details</th>
															<th></th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="component in allComponents" ng-class="{'selected':$index == selectedRow}" ng-click="CheckMxCreditProcessStatus(component,$index)">
															
															<!-- <td width="10%">{{component.component.data.component_id}}</td> -->
															<td width="15%">CO{{$index + 1}} </td>
															<td width="13%"><input type="text"  ng-model="component.component.data.component_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><input type="text"  ng-model="component.component.data.ata_chapter" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%">{{ac_system}}</td>
															<td width="10%">{{ac_sub_system}}</td>
															<td width="7%"><input type="text"  ng-model="component.component.data.sbc" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><input type="text"  ng-model="component.component.data.partNo" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><input type="text"  ng-model="component.component.data.s_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>  <!--Advith-->
															<td width="10%"><input type="text"  ng-model="component.component.data.supplier_details"  ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><a href="" ng-click="showSubComponents(component.component)" style="width: 100%; border: 0px none;" >Sub Comp</a></td>
															<td width="10%"><a href=""><i class="icon-remove"></i> </a><span ng-hide="true">{{$index}}</span></td>
														</tr>														
													</tbody>
												</table>
											</div>
											<!-- <a  ng-show="ShowCreateProcessSteps" ng-click="CreateProcessSteps()" class="btn btn-default btn-lg">Create Mx Credit Process</a> -->
											 <button class="btn btn-primary" ng-show="ShowCreateProcessSteps" ng-click="CreateProcessSteps()"><i class="icon-pencil icon-white"></i> Create Mx Credit Process</button>
											<!-- <a href="#" ng-show="ShowRunProcessSteps" class="btn btn-default btn-lg"> <i class="icon-play"></i>Run Mx Credit Process</a> -->
											  <button class="btn btn-primary"  ng-show="ShowRunProcessSteps" ng-click="changeView('processSteps')"><i class="icon-play icon-white"></i> Run Mx Credit Process</button>										  
											  <button class="btn btn-primary" ng-show="newComponentButton"   ng-click="addNewRow()"><i class="icon-plus icon-white" ></i> Add New Component</button>
											  <div class="panel-heading">
													Note: Select correspondent row to run Mx Credit Process.
											  </div>	
											  <button class="btn btn-primary" ng-show="saveComponentButton"  ng-click="SaveComponent()"><i class="icon-save icon-white" ></i> Save </button>
											  <button class="btn btn-primary" ng-show="cancelComponentButton"  ng-click="cancel()"><i class="icon-remove icon-white" ></i> Cancel </button>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

