<!--PAGE CONTENT -->
	<div id="content">

		<div class="inner" style="min-height: 700px;">
			
			<!-- CHART & CHAT  SECTION -->
			<div class="row">	
						
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						  <div class="col-lg-12">
						    <div>
						    	 <button class="btn btn-default  btn-rect" ng-click="changeView('dashboard')">Component</button>
							     <button class="btn btn-default  btn-rect" ng-click="changeView('subComponent')">Sub Component</button>
							      <button class="btn btn-primary  btn-rect" ng-click="changeView('items')">Item</button>
							</div>	
						  </div>
						<div class="demo-container">
							<!--
							 <div class="col-lg-12">
							    <div>
							    	 <button class="btn btn-primary btn-sm btn-rect" ng-click="LoadItems()">All Items</button>
							    	 <button class="btn btn-default btn-sm btn-rect" ng-click="changeView('addItem')">Create new Item</button>									
								</div>	
						    </div>
						   -->
						    <div id="placeholderRT" class="demo-placeholder" ng-init="LoadItems()">
								<div class="col-md-12">	
									<div class="panel panel-default">
										<div class="panel-heading">
											<strong> List of Items </strong><span style="float: right" >Sub Component Name: <strong>{{subComponentName}}</strong> ; Component Name: <strong > {{componentName}}</strong></span>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table  table-bordered table-hover">
													<thead>
														<tr>
															<th>Item ID</th>
															<th>Item Name</th>
															<th>SBC</th>
															<th>Part No</th>
															<th>Supplier Name</th>
															<th>Supplier Details</th>
															<th> </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="item in items">															
															<td width="15%">IT{{$index + 1}}</td>
															<td width="15%"><input type="text"  ng-model="item.Item.data.item_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="item.Item.data.sbc" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="item.Item.data.part_no" ng-class="{'datagrid-textbox':$index != newRow}"  style="width:100%" /></td>
															<td width="15%"></span><input type="text"  ng-model="item.Item.data.supplier_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="item.Item.data.supplier_details" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><a href=""><i class="icon-remove"  ng-click="open(item.Item.id)"></i></a></td>
														</tr>														
													</tbody>
												</table>
											</div>
											<div class="col-md-12">
											<button class="btn btn-primary" ng-show="newItemButton"   ng-click="addNewRow()">
												<i class="icon-plus icon-white" ></i> Add New item
											</button>
											<button class="btn btn-primary" ng-show="saveItemButton"  ng-click="saveItem()">
												<i class="icon-save icon-white" ></i> Save
											</button>
											<button class="btn btn-primary" ng-show="cancelItemButton"  ng-click="cancel()">
												<i class="icon-remove icon-white" ></i>Cancel
											</button>
										</div>
										</div>
									</div>
								</div>
							</div>
						    
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

