
<div class="container">
    <div class="text-center">
        <!-- <img src="/app/assets/img/AirbusGroupDS_Transp.png" id="logoimg" alt=" Logo" /> -->
         <h1> Mx Credit Process Application </h1>
    </div>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                    Please login with your credentials
                </p>
                <input type="text" id="emailField" placeholder="Email" ng-model="user.email" class="form-control" />
                <input type="password" id="pwdField" placeholder="Password" ng-model="user.password" class="form-control" />
                <button class="btn text-muted text-center btn-danger" type="submit" ng-click="login()">Sign in</button>
            </form>
        </div>
        <div id="forgot" class="tab-pane">
            <form action="index.html" class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">Enter your valid e-mail</p>
                <input type="email"  required="required" placeholder="Your E-mail"  class="form-control" />
                <br />
                <button class="btn text-muted text-center btn-success" type="submit">Recover Password</button>
            </form>
        </div>
        <div id="signup" class="tab-pane">
            <form action="index.html" class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">Please Fill Details To Register</p>
                 <input type="text" placeholder="First Name" class="form-control" />
                 <input type="text" placeholder="Last Name" class="form-control" />
                <input type="text" placeholder="Username" class="form-control" />
                <input type="email" placeholder="Your E-mail" class="form-control" />
                <input type="password" placeholder="password" class="form-control" />
                <input type="password" placeholder="Re type password" class="form-control" />
                <button class="btn text-muted text-center btn-success" type="submit"><i class="icon-check-sign icon-white"></i>Register</button>
            </form>
        </div>
    </div>
    <div class="text-center">
        <ul class="list-inline">
            <li><a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a></li>
        </ul>
    </div>


</div>