<!--PAGE CONTENT -->
<!-- MENU SECTION -->
<div id="left">
	<div class="media user-media well-small">
		<br />
	</div>

	<ul id="menu" class="collapse" ng-init="LoadGroups()">

		<li class="panel active">
			<a > <i class="icon-table"></i> Groups </a>
		</li>

		<li class="panel" ng-repeat="group in groups" >
			<a ng-click="LoadGroupDetail(group.group.id)" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav">{{group.group.data.name}}</a>

		</li>

	</ul>

</div>
<!--END MENU SECTION -->

<div id="content">

	<div class="inner" style="min-height: 700px;">

		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('groups')">
								Groups
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('users')">
								Users
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('mbui')">
								Manage UI
							</button>
						</div>
					</div>
					<div class="demo-container">
						<div class="col-lg-12">
							<div class="text-right">
								<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="open()">
									Create new Group
								</button>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Group Details
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-4">
										<form role="form">
											<div class="form-group">
												<label>Name</label>
												<p class="form-control-static">
												 <h4>{{name}}</h4>	
												</p>
											</div>
											<div class="form-group">
												<label>Type</label>
												<p class="form-control-static">
													{{type}}
												</p>
											</div>
											<div class="form-group">
												<label>Description</label>
												<p class="form-control-static">
													{{description}}
												</p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Members
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Display Name</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="user in groupUsers">
												<td>{{user.user.data.display_name}}</td>
												<td>{{user.user.data.first_name}}</td>
												<td>{{user.user.data.last_name}}</td>
												<td>{{user.user.data.email}}</td>
												<td><i class="icon-remove"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Associated Process Steps Per Department</h4> 
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										
										<tbody>
											<tr ng-repeat="linkedStep in linkedProcessSteps">
												<td>{{linkedStep.step.data.name}}</td>
												<td><i class="icon-remove" ng-click="removeAssociation(linkedStep.step.id)"></i>/td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Available Process Steps </h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										
										<tbody>
											<tr ng-repeat="notLinekedStep in notLinkedProcessSteps">
												<td>{{notLinekedStep.step.data.name}}</td>
												<td><i class="icon-plus" ng-click="addLink(notLinekedStep.step.id)"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!--END PAGE CONTENT -->

