<!--PAGE CONTENT -->
<!-- MENU SECTION -->
<div id="left">
	<div class="media user-media well-small">
		<br />
	</div>

	<ul id="menu" class="collapse" ng-init="LoadGroups()">

		<li class="panel active">
			<a > <i class="icon-table"></i> Process Steps </a>
		</li>

		<li class="panel" ng-repeat="processStep in processSteps" >
			<a ng-click="LoadProcessStepUI(processStep,$index)" data-parent="#menu" data-toggle="collapse" ng-class="{'selectedStep':$index == selectedRow}" class="accordion-toggle" data-target="#DDL4-nav">{{processStep.name}}</a>

		</li>

	</ul>

</div>
<!--END MENU SECTION -->

<div id="content">

	<div class="inner" style="min-height: 700px;">

		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('groups')">
								Groups
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('users')">
								Users
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('Mbui')">
								Manage UI
							</button>
						</div>
					</div>
					<div class="demo-container">
						<div class="col-lg-12">
							<div class="text-right">

							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4><span ng-bind="stepName"></h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form role="form">
											<div class="form-group">
												<label for="text4" class=" col-lg-6">UI Schema</label>
<!-- Advith -->
												<div class="container-fluid">
													<iframe src="https://jsonforms-editor.herokuapp.com" height="600px" width="940px"> </iframe>
												</div>
<!-- Advith -->
												<div class="container-fluid">
													<textarea id="text4" ng-model="schema" cols=500 rows=20 class="form-control mbui-schema-json"></textarea>
												</div>
											</div>
										</form>
									</div>									
								</div>
								<div class="row">
									<div class="col-lg-8 mbui-schema-button">
										<a ng-click="UpdateSchema()" class="btn btn-primary btn-grad ">Save</a>
										<a ng-click="changeView('items')" class="btn btn-primary btn-grad ">Cancel</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!--END PAGE CONTENT -->

