<!-- MENU SECTION -->
<div id="left" ng-show="leftGroupProcessTree" >
		<div class="media user-media well-small" ng-init="LoadProcessGroupsWithProcess()">
			<br />
		</div>        
		<ul id="menu" class="collapse">	
			<li class="panel active">
				<a  data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> Process Steps <span class="pull-right"> </span> </a>
			</li>
			<li class="panel" ng-controller="processTreeCtrl">
					<div treecontrol class="tree-classic"
	             	tree-model="dataForTheTree"
						options="treeOptions"
						on-selection="showSelected(node)"
						selected-node="selectedNode"
						expanded-nodes ="nodeHead">
							{{node.name}}  
					</div>
			</li>	
		</ul>

	</div>
<!--END MENU SECTION -->

<!--PAGE CONTENT -->
	<div id="content" >

		<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
			<div class="row">	
						
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						  <div class="col-lg-12">
						    <div>
						    	 <button class="btn btn-primary  btn-rect" ng-click="changeView('processView')">Graphical Process View</button>
								 <button class="btn btn-default  btn-rect" ng-click="changeView('processViewTabular')"> Tabular Process View</button>
							</div>	
						  </div>
						<div class="demo-container">
							 <div class="col-lg-12">
							 
						    </div>
						    
							<div id="placeholderRT" class="demo-placeholder">
								<div class="col-md-12">
								<div class="panel panel-default">

									<div class="panel-body">
										<div class="table-responsive">
											<div id="div-1" class="accordion-body collapse in body">
												<div class="form-horizontal">
													<div class="form-group">
														<div class="col-lg-12">															
																<img height="100%" width="100%" ng-src="{{processSVG}}">
														</div>
													</div> 
													<div class="form-group">
														 <button class="btn btn-default  btn-rect" ng-click="AddValue()"><i class="icon-check-sign icon-white"></i> Submit</button>
													</div>
												</div>
											</div>
										</div>
										<!-- <a  ng-show="ShowCreateProcessSteps" ng-click="CreateProcessSteps()" class="btn btn-default btn-lg">Create Mx Credit Process</a> -->
										<button class="btn btn-primary" ng-show="ShowCreateProcessSteps" ng-click="CreateProcessSteps()">
											<i class="icon-pencil icon-white"></i> Create Mx Credit Process
										</button>
										<!-- <a href="#" ng-show="ShowRunProcessSteps" class="btn btn-default btn-lg"> <i class="icon-play"></i>Run Mx Credit Process</a> -->
										<button class="btn btn-primary"  ng-show="ShowRunProcessSteps">
											<i class="icon-play icon-white"></i> Run Mx Credit Process
										</button>
									</div>
								</div>

							</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

