<!-- MENU SECTION -->
<div id="left" ng-show="leftGroupProcessTree" >
		<div class="media user-media well-small" ng-init="LoadProcessGroupsWithProcess()">
			<br />
		</div>        
		<ul id="menu" class="collapse">	
			<li class="panel active">
				<a  data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> Process Steps <span class="pull-right"> </span> </a>
			</li>
			<li class="panel" ng-controller="processTreeCtrl">
					<div treecontrol class="tree-classic"
	             	tree-model="dataForTheTree"
						options="treeOptions"
						on-selection="showSelected(node)"
						selected-node="selectedNode"
						expanded-nodes ="nodeHead">
							{{node.name}}  
					</div>
			</li>	
		</ul>

	</div>
<!--END MENU SECTION -->

<!--PAGE CONTENT -->
	<div id="content" >

		<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
			<div class="row">	
						
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						  <div class="col-lg-12">
						    <div>
						    	 <button class="btn btn-default  btn-rect" ng-click="changeView('processView')">Graphical Process View</button>
								 <button class="btn btn-primary  btn-rect" ng-click="changeView('processViewTabular')"> Tabular Process View</button>
							</div>	
						  </div>
						<div class="demo-container">
							 <div class="col-lg-12">
							 
						    </div>
						    
							<div id="placeholderRT" class="demo-placeholder">
								<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										Selected Component {{componentName}}
										
									</div>
									

									<div class="panel-body">
										<div class="table-responsive">
											<table class="table  table-bordered ">
												<thead>
													<tr>
														<th></th>
														<th>Activity</th>
														<th>Process Swimlane</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="sd in allStepsDetails" ng-click="showAllItems(sc.SubComponent)" ng-class="sd.rowColor" >
														<td>{{$index + 1}}</td>
														<td>{{sd.ps.data.name}}</td>
														<td>{{sd.sw.data.name}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

