<!-- MENU SECTION -->
<div id="left" ng-show="leftGroupProcessTree" >
	<div  ng-controller="processTreeCtrl">
		<task-selection></task-selection>
		<ul id="menu" class="collapse">
			<li class="panel active">
				<a  data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> Process Steps <span class="pull-right"> </span> </a>
			</li>
			<li class="panel" >
				<div treecontrol class="tree-classic"
				tree-model="dataForTheTree"
				options="treeOptions"
				on-selection="showSelected(node)"
				selected-node="selectedNode"
				expanded-nodes ="nodeHead"
				>
					{{node.name}}
				</div>
			</li>
		</ul>
	</div>

</div>
<!--END MENU SECTION -->

<!--PAGE CONTENT -->
<div id="content" >

	<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary  btn-rect" ng-click="changeView('dashboard')">
								Current Step
							</button>
							<button class="btn btn-default  btn-rect">
								History
							</button>
						</div>
					</div>
					<div class="demo-container">
						<div class="col-lg-12">
							<div class="form-horizontal">

								<div class="form-group">
									<label for="text1" class="col-lg-4 text-left process_name">Component Details</label>
									<label  class="col-lg-8 text-right system-component-display">System Component: EHA</label>
									<div class="col-lg-8 text-right">
										<button type="button" class="btn btn-info btn-circle" ng-click="open()">
											<i class="icon-info-sign"></i>
										</button>
									</div>
								</div>
							</div>
						</div>


						<div id="placeholderRT" class="demo-placeholder">
							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="form-group">
											<div class="col-lg-12">
												<p>Selected Component : <b>{{componentName}}</b></p>
											</div>
										</div>
									</div>
									

									<div class="panel-body">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>Sub Component No</th>
														<th>Sub Component Name</th>
														<th>Items</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="sc in subComponents" ng-click="showAllItems(sc.SubComponent)" >
														<td width="20%">SC{{$index + 1}} </td>
														<td width="20%">{{sc.SubComponent.data.sub_component_name}}</td>
														<td width="70%">
														<div class="table-responsive">
															<table class="table  table-bordered">
																<tbody>
																	<tr ng-repeat="item in sc.items">
																		<td width="10%">IT{{$index + 1}} </td>
																		<td width="90%">{{item.Item.data.item_name}}</td>

																	</tr>
																</tbody>
															</table>
														</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="panel panel-default">

									<div class="panel-body">
										<div class="table-responsive">
											<div id="div-1" class="accordion-body collapse in body">
												<div class="form-horizontal">
													<div class="form-group">
														<div class="col-lg-12">
															<form-directive form="form"></form-directive>			 <!--jsonschema-->
															<process-link  componentid="componentid" processid="processid"></process-link>
															<process-file componentid="componentid" processid="processid" files="files"></process-file>
														</div>
													</div>
													<div class="form-group control-button-padding-left">
														<button class="btn btn-primary btn-grad " ng-click="Submit()">
															<i class="icon-check-sign icon-white"></i> Submit
														</button>
														<button class="btn btn-primary btn-grad " ng-click="Save()">
															<i class="icon-save icon-white" ></i> Save
														</button>
		<!--												<button class="btn btn-primary btn-grad " >
															<i class="icon-remove icon-white" ></i> Cancel
														</button>  -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!--END PAGE CONTENT -->

