<!-- MENU SECTION -->
<div id="left" ng-show="leftGroupProcessTree" >
	<div >
		<task-selection></task-selection>
		<ul id="menu" class="collapse">
			<li class="panel active">
				<a  data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> Process Steps <span class="pull-right"> </span> </a>
			</li>
			<li class="panel" ng-controller="processTreeCtrl">
				<div treecontrol class="tree-classic"
				tree-model="dataForTheTree"
				options="treeOptions"
				on-selection="showSelected(node)"
				selected-node="selectedNode"
				expanded-nodes ="nodeHead"
				>
					{{node.name}}
				</div>
			</li>
		</ul>
	</div>

</div>
<!--END MENU SECTION -->

<!--PAGE CONTENT -->
<div id="content" >

	<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary  " ng-click="changeView('dashboard')">
								Current Step
							</button>
							<button class="btn btn-default" >
								History
							</button>
						</div>
					</div>
					<div class="demo-container">
							<div class="col-lg-12">
							<div class="form-horizontal">

								<div class="form-group">
									<label for="text1" class="col-lg-4 text-left process_name">System FMEA</label>
									<label  class="col-lg-8 text-right system-component-display">System Component: EHA</label>
									<div class="col-lg-8 text-right">
										<button type="button" class="btn btn-info btn-circle" ng-click="open()">
											<i class="icon-info-sign"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div id="placeholderRT" class="demo-placeholder">

							<div class="col-md-12">
								<div class="panel panel-default">

									<div class="panel-body">
										<div class="table-responsive">
											<div id="div-1" class="accordion-body collapse in body">
												<div class="form-horizontal">
													
													<div class="form-group">
														<div class="col-md-12">
															<div class="panel panel-default">
																<div class="panel-heading">
																	System Bottom Up FMEA
																</div>
																<div class="col-lg-12 index-menu-top-padding ">
																	<div class="form-group">
																		<div class="col-lg-12">
																			<p>Selected Component : <b>{{componentName}}</b></p>
																		</div>
																	</div>
																	 <form class="form-horizontal">
																		<div class="form-group">
																			<label class="control-label col-lg-3">Select Sub Component</label>
																			<div class="col-lg-5">
																				<div class="input-group">
																					<select name="subcomponent" id="idSubComponent" class="form-control" style="width: 150px"
																				ng-options="subComponent.SubComponent.data.sub_component_name for subComponent in subComponents track by subComponent.SubComponent.id"
																				ng-model="selectedSubComponent" ng-change="loadItems()"></select>
																				</div>
																			</div>
																		</div>

																		 <div class="form-group">
																			 <label class="control-label col-lg-3">Select Item</label>
																			 <div class="col-lg-5">
																				 <div class="input-group">
																					 <select ng-model="selectedItem.id"  class="form-control" style="width: 150px" ng-change="loadFmeaData()">
																						 <option ng-selected="item.Item.id == subCompData.sdata.data.item_id" ng-repeat="item in items " ng-value="item.Item.id">{{item.Item.data.item_name}}</option>
																					 </select>
																				 </div>
																			 </div>
																		 </div>
																	</form>


																</div>

																<div class="panel-body">
																	<div class="table-responsive">
																		<table class="table  table-bordered table-hover">
																			<thead>
																				<tr>
																					<th>Failure Mode</th>
																					<th>Defect Description</th>
																					<th>Defect Effects</th>
																					<th>Component Reliability</th>
																					<th></th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr ng-repeat="subCompData in allSubComponentData | orderBy:'$index'" ng-class="{'selected':$index == selectedRow}">

																					<td width="10%">FM{{$index+1}}</td>
																					<td width="20%">
																					<textarea  type="text" cols="40" rows="5"  ng-model="subCompData.sdata.data.defect_description" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%">
																						
																					</textarea>
																					</td>
																					<td width="20%">
																					<textarea  type="text" cols="40" rows="5"  ng-model="subCompData.sdata.data.defect_effects" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" >
																						
																					</textarea>
																					</td>
																					<td width="10%">
																					<input type="text"  ng-model="subCompData.sdata.data.component_reliability" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" />
																					</td>

																					<td width="5%"><i class="icon-remove" ng-click="removeComponent(item.Item.id)"></i><span ng-hide="true">{{$index}}</span></td>
																				</tr>

																			</tbody>
																		</table>
																		<div class="form-group">
																			<div class="col-lg-12">
																				<form-directive form="form"></form-directive>
																				<process-link  componentid="componentid" processid="processid"></process-link>
																				<process-file componentid="componentid" processid="processid" files="files"></process-file>
																			</div>
																		</div>
																	</div>
																	<button class="btn btn-primary"  ng-show="newSubCompDataButton"  ng-click="addNewRow()">
																		<i class="icon-plus icon-white" ></i> Add New Item
																	</button>
																	<button class="btn btn-primary" ng-show="saveSubCompDataButton"  ng-click="saveSubCompData()">
																		<i class="icon-save icon-white" ></i> Save
																	</button>
																	<!--	<button class="btn btn-primary" ng-show="cancelSubCompDataButton"  ng-click="cancelAllSubComponentData()">
                                                                            <i class="icon-remove icon-white" ></i> Cancel
                                                                        </button> -->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                        <div class="form-group control-button-padding-left">
                                                            <button class="btn btn-primary btn-grad " ng-click="Submit()">
                                                                <i class="icon-check-sign icon-white"></i>Submit
                                                            </button>
                                                            <button class="btn btn-primary btn-grad " ng-click="Save()">
                                                                <i class="icon-save icon-white" ></i>Save
                                                            </button>
                                                            <button class="btn btn-primary btn-grad " >
                                                                <i class="icon-remove icon-white" ></i>Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--END PAGE CONTENT -->

