<!-- MENU SECTION -->
<div id="left" ng-show="leftGroupProcessTree" >
	<div >
		<task-selection></task-selection>
		<ul id="menu" class="collapse">
			<li class="panel active">
				<a  data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav"> <i class=" icon-folder-open-alt"></i> Process Steps <span class="pull-right"> </span> </a>
			</li>
			<li class="panel" ng-controller="processTreeCtrl">
				<div treecontrol class="tree-classic"
				tree-model="dataForTheTree"
				options="treeOptions"
				on-selection="showSelected(node)"
				selected-node="selectedNode"
				expanded-nodes ="nodeHead"
				>
					{{node.name}}
				</div>
			</li>
		</ul>
	</div>

</div>
<!--END MENU SECTION -->

<!--PAGE CONTENT -->
<div id="content" >

	<div class="inner" style="min-height: 700px;">
		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary">
								Current Step
							</button>
							<button class="btn btn-default" >
								History
							</button>
						</div>
					</div>
					<div class="demo-container">
							<div class="col-lg-12">
							<div class="form-horizontal">

								<div class="form-group">
									<label for="text1" class="col-lg-4 text-left process_name">System FMECA</label>
									<label  class="col-lg-8 text-right system-component-display">System Component: EHA</label>
									<div class="col-lg-8 text-right">
										<button type="button" class="btn btn-info btn-circle" ng-click="open()">
											<i class="icon-info-sign"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div id="placeholderRT" class="demo-placeholder">

							<div class="col-md-12">
								<div class="panel panel-default">

									<div class="panel-body">
										<div class="table-responsive">
											<div id="div-1" class="accordion-body collapse in body">
												<div class="form-horizontal">
													
													<div class="form-group">
														<div class="col-md-12">
															<div class="panel panel-default">
																<div class="panel-heading">
																	Failure Classification and Mitigation Evaluation
																</div>
																<div class="col-lg-12 index-menu-top-padding ">
																	<div class="form-group">
																		<div class="col-lg-12">
																			<p>Selected Component : <b>{{componentName}}</b></p>
																		</div>
																	</div>
																	 <form class="form-horizontal">
																		<div class="form-group">
																			<label class="control-label col-lg-3">Select Sub Component</label>

																			<div class="col-lg-5">
																				<div class="input-group">
																					<select name="subcomponent" id="idSubComponent" class="form-control" style="width: 150px"
																				ng-options="subComponent.SubComponent.data.sub_component_name for subComponent in subComponents track by subComponent.SubComponent.id"
																				ng-model="selectedSubComponent" ng-change="loadItems()"></select>
																				</div>
																			</div>
																		</div>

																		 <div class="form-group">
																			 <label class="control-label col-lg-3">Select Item</label>
																			 <div class="col-lg-5">
																				 <div class="input-group">
																					 <select ng-model="selectedItem.id"  class="form-control" style="width: 150px" ng-change="loadFmecaData()">
																						 <option ng-selected="item.Item.id == subCompData.sdata.data.item_id" ng-repeat="item in items " ng-value="item.Item.id">{{item.Item.data.item_name}}</option>
																					 </select>
																				 </div>
																			 </div>
																		 </div>

																		 <div class="form-group">
																			 <label class="control-label col-lg-3">Select Failure Mode</label>
																			 <div class="col-lg-5">
																				 <div class="input-group">
																					 <select   class="form-control" style="width: 150px">
																						 <option  ng-repeat="item in fms " >{{item}}</option>
																					 </select>
																				 </div>
																			 </div>
																		 </div>
																	</form>																
																</div>

																<div class="panel-body">
																	<div class="table-responsive">
																		<table class="table  table-bordered table-hover">
																			<thead>
																				<tr>

																					<th>Failure Mode</th>
																					<th>Criticality No. </th>
																					<th>Criticality Class</th>
																					<th>Mitigation Required</th>
																					<th></th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr ng-repeat="subCompData in allSubComponentData | orderBy:[nullsToTop].concat('sdata.data.criticality_class_id')" ng-class="{'selected':$index == selectedRow}">

																					<!--<td width="10%">-->
																					<!--<select ng-model="selectedItem.id" >-->

																						<!--<option ng-selected="item.Item.id == subCompData.sdata.data.item_id" ng-repeat="item in items " ng-value="item.Item.id">{{item.Item.data.item_name}}</option>-->
																					<!--</select></td>-->

																					<!--<td width="10%"> {{subCompData.sdata.data.criticality_class_id}} </td> -->
																					<td width="10%"> FM{{28-subCompData.sdata.data.item_id | number}} </td>
																					<td width="10%"> {{subCompData.sdata.data.criticality_class_id}}</td>
																					<td width="15%">
																					<input type="text"  ng-model="subCompData.sdata.data.criticality_class" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" />
																					</td>
																					<td width="25%">
																					<input type="text"  ng-model="subCompData.sdata.data.mitigation_required" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" />
																					</td>

																					<td width="10%"><i class="icon-remove"></i><span ng-hide="true">{{$index}}</span></td>
																				</tr>

																			</tbody>
																		</table>

																	</div>
																	<button class="btn btn-primary"  ng-show="newSubCompDataButton"  ng-click="addNewRow()">
																		<i class="icon-plus icon-white" ></i> Add New Item
																	</button>
																	<button class="btn btn-primary" ng-show="saveSubCompDataButton"  ng-click="saveSubCompData()">
																		<i class="icon-save icon-white" ></i> Save
																	</button>
																	<!--			<button class="btn btn-primary" ng-show="cancelSubCompDataButton"  ng-click="cancelAllSubComponentData()">
                                                                                    <i class="icon-remove icon-white" ></i> Cancel
                                                                                </button> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-lg-12">
                                                                        <form-directive form="form"></form-directive>
                                                                        <process-link  componentid="componentid" processid="processid"></process-link>
                                                                        <process-file componentid="componentid" processid="processid" files="files"></process-file>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group control-button-padding-left">
                                                                    <button class="btn btn-primary btn-grad " ng-click="Submit()">
                                                                        <i class="icon-check-sign icon-white"></i>Submit
                                                                    </button>
                                                                    <button class="btn btn-primary btn-grad " ng-click="Save()">
                                                                        <i class="icon-save icon-white" ></i>Save
                                                                    </button>
                                                                    <button class="btn btn-primary btn-grad " >
                                                                        <i class="icon-remove icon-white" ></i>Cancel
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!--END PAGE CONTENT -->

