<!--PAGE CONTENT -->
	<div id="content">

		<div class="inner" style="min-height: 700px;">
			
			<!-- CHART & CHAT  SECTION -->
			<div class="row">	
						
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						  <div class="col-lg-12">
						    <div>
						    	 <button class="btn btn-default  btn-rect" ng-click="changeView('dashboard')">Component</button>
								 <button class="btn btn-primary  btn-rect" ng-click="changeView('subComponent')">Sub Component</button>
								 <button class="btn btn-default  btn-rect" ng-disabled="true" ng-click="changeView('items')">Item</button>
							</div>	
						  </div>
						
						<div class="demo-container">
						<!-- 
							 <div class="col-lg-12">
							    <div>
							    	 <button class="btn btn-primary btn-sm btn-rect" ng-click="changeView('subComponent')">All Sub Components</button>
							    	 <button class="btn btn-default btn-sm btn-rect" ng-click="changeView('addSubComponent')">Create new Sub Component</button>									
								</div>	
						    </div>
						      -->	
							<div id="placeholderRT" class="demo-placeholder">
								<div class="col-md-12">	
									<div class="panel panel-default">
										<div class="panel-heading">
											<strong>List of Sub Components</strong>          <span style="float: right" >Component Name: <strong > {{componentName}}</strong></span>  
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table  table-bordered table-hover">
													<thead>
														<tr>
															<th>Sub Component Number</th>
															<th>Sub Component Name</th>
															<th>SBC</th>
															<th>Part No</th>
															<th>Supplier Name</th>
															<th>Supplier Details</th>
															<th></th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="sc in subComponents">
															
															<td width="15%">SC{{$index + 1}} </td>
															<td width="20%"><input type="text"  ng-model="sc.SubComponent.data.sub_component_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="sc.SubComponent.data.sbc" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="10%"><input type="text"  ng-model="sc.SubComponent.data.part_no" ng-class="{'datagrid-textbox':$index != newRow}"  style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="sc.SubComponent.data.supplier_name" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="15%"><input type="text"  ng-model="sc.SubComponent.data.supplier_details" ng-class="{'datagrid-textbox':$index != newRow}" style="width:100%" /></td>
															<td width="5%"><a  href="" ng-click="showAllItems(sc.SubComponent)" style="width: 100%; border: 0px none;" >Items</a></td>
															<td width="5%"><a href=""><i class="icon-remove"></i> </a><span ng-hide="true">{{$index}}</span></td>
														</tr>														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12"> 
									<button class="btn btn-primary" ng-show="newSubComponentButton"   ng-click="addNewRow()"><i class="icon-plus icon-white" ></i> Add New Sub Component</button>
									<button class="btn btn-primary" ng-show="saveSubComponentButton"  ng-click="saveSubComponent()"><i class="icon-save icon-white" ></i> Save </button>
									<button class="btn btn-primary" ng-show="cancelSubComponentButton"  ng-click="cancel()"><i class="icon-remove icon-white" ></i>Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!--END PAGE CONTENT -->

