<!--PAGE CONTENT -->
<!-- MENU SECTION -->
<div id="left">
	<div class="media user-media well-small">
		<br />
	</div>

	<ul id="menu" class="collapse" ng-init="LoadUsers()" >

		<li class="panel active">
			<a > <i class="icon-table" ></i> Users </a>
		</li>

		<li class="panel" ng-repeat="user in users">
			<a  ng-click="LoadUserDetail(user.user.id)" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#DDL4-nav">{{user.user.data.display_name}}</a>

		</li>

	</ul>

</div>
<!--END MENU SECTION -->

<div id="content">

	<div class="inner" style="min-height: 700px;">

		<!-- CHART & CHAT  SECTION -->
		<div class="row">

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="col-lg-12">
						<div>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('groups')">
								Groups
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('users')">
								Users
							</button>
							<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="changeView('mbui')">
								Manage UI
							</button>
						</div>
					</div>
					<div class="demo-container">
						<div class="col-lg-12">
							<div class="text-right">
								<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="open()">
									Create new User
								</button>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								User Details
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-4">
										<form role="form">
											<div class="form-group">
												<label>Display Name</label>
												<p class="form-control-static">
													{{displayName}}
												</p>
											</div>
											<div class="form-group">
												<label>First Name</label>
												<p class="form-control-static">
													{{firstName}}
												</p>
											</div>
											<div class="form-group">
												<label>Last Name</label>
												<p class="form-control-static">
													{{lastName}}
												</p>
											</div>
											<div class="form-group">
												<label>Email</label>
												<p class="form-control-static">
													{{email}}
												</p>
											</div>
											<!--
											<div class="form-group">
												<label>Password</label>
												<p class="form-control-static">
													{{password}}
												</p>
											</div>
											-->
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Groups 
								<button class="btn btn-primary btn-sm btn-grad btn-rect" ng-click="LoadGroups()">
									+
								</button>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Name</th>
												<th>Type</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="group in userGroups">
												<td>{{group.group.data.name}}</td>
												<td>{{group.group.data.type}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
<!--END PAGE CONTENT -->

