<div class="field row">
  <hr>
    
    <!--<div class="col-lg-8">
		<button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
		accept="image/*,application/pdf" ngf-max-height="1000" ngf-max-size="1MB">
			<i class="icon-cloud-upload icon-white"></i> Select File
		</button>
    </div>-->
</div>
