<!--
<div class="field row">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4">
        <div ng-repeat="option in field.field_options" class="row-fluid">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required" ng-disabled="field.field_disabled"/>
                &nbsp;<span ng-bind="option.option_title"></span>
            </label>
        </div>
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
<br>
-->
<div class="form-group">
	<label for="text1" class="control-label col-lg-4">{{field.field_title}}:</label>

	<div class="col-lg-8">
		
		 <div ng-repeat="option in field.field_options" class="row-fluid">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required" ng-disabled="field.field_disabled"/>
                &nbsp;<span ng-bind="option.option_title"></span>
            </label>
        </div>
		
	</div>
</div>

