<!--<div class="field row">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4">
		<input type="text" 
			ng-model="field.field_value" 
			value="{{field.field_value}}" 
			ng-required="field.field_required"
			ng-disabled="field.field_disabled">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
    
    <!--<div class="col-lg-8">
		<button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
		accept="image/*,application/pdf" ngf-max-height="1000" ngf-max-size="1MB">
			<i class="icon-cloud-upload icon-white"></i> Select File
		</button>
    </div>
</div>
-->
<div class="form-group">
	<label for="text1" class="control-label col-lg-4">{{field.field_title}}:</label>

	<div class="col-lg-8">
		
		<input type="text" 
			ng-model="field.field_value" 
			value="{{field.field_value}}" 
			ng-required="field.field_required"
			ng-disabled="field.field_disabled" class="form-control">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
		
	</div>
</div>
