/* This sets the color for "TK" nodes to a light blue green. */
g.type-SW > rect {
  fill: #428bca;
}

g.type-TK > rect {
  fill: #5CB85C;
}

g.type-AC > rect {
  fill: #f7ed7b;
}
text {
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}