.index-menu-top-padding  {
    padding-top: 20px;
}

.index-munu-top-padding-left {	
	/* padding-left: 115px; */
	text-align: center;
	width: 65%;	
}

.index-menu-top-color {
    color: #616161;
    background-color: #F8F8F8;
    border-color: #cccccc; 
   }
.process_name {
	font-size: 20px;
}

.system-component-display {
	font-size: 10px;
}

.control-button-padding-left{
	padding-left: 20px;
}

.process-button-selected{
  /*	background-color: #0029FF; */
	box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #3D7BA0;
	color: #1A225D;
}
.mbui-schema-button{
	padding-top: 10px;
	padding-left : 30px;
}
.selectedStep {
     background-color:#2196F3;
     color:white !important;
     font-weight:bold;
 }
.datagrid-textbox
{
	width: 100%; border: 0px none;
}
.row-color-orange {
	background-color: #ff851b;
	color: white;
	font-weight: bold;
}
.row-color-green {
	background-color: #057305;
	color: white;
	font-weight: bold;
}

.row-color-white {
	background-color: white;
}

.dropdown-width
{
	width:200px;
}

.system-compoent-seletion-padding-top
{
	padding-top: 20px;
}
